@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#user {
  display: none;
}

section {
  padding: 12px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
}

.form-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  gap: 1rem;
  box-shadow: rgba(209, 211, 208, 0.35) 5px 5px 35px;
  border-radius: 10px;
  cursor: pointer;
  height: 10vh;
}

.form-elements:hover {
  border: 2px solid white;
  transition: all 0.1s ease-in;
}

.form-elements img {
  width: 30px;
}

.form-elements button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}

#user-details {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#userPic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

#signoutBtn {
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  background: #3f51b5;
  color: white;
  font-size: medium;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;

  box-shadow: 1px 1px 1px 1px silver;
}

/* section {
  min-height: 100vh;
  background: black;
} */

/* .search-card {
  color: rgba(255, 255, 255, 0.637);
} */

#searchUser {
  width: 90%;
  padding: 13px 13px;
  font-size: 1rem;
  border: none;
  background: #000;
  border-radius: 5px;
  outline: none;
  color: white;
}
